
body, html, #root {
  width: 100%;
    display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6; 
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;         
  padding: 20px;        
}